<style>
p {
  text-align: center;
}
.input {
  background-color: pink;
  font-size: 25px;
}
body {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  color: #2c0938;
  font-family: 'Signika', sans-serif;
}

#app {
  width: 270px;
  background: white;
  padding: 20px;
  margin: 30px;
  border-radius: 4px;
  opacity: 0.95;
}

h1 {
  text-align: center;
  margin: 5px;
}

li {
  list-style: none outside none;
}
button {
    display: inline-block;
    background-color: #7b38d8;
    padding: 20px;
    width: 200px;
    color: #ffffff;
    text-align: center;
    border: 4px double #cccccc;
    border-radius: 10px;
    font-size: 28px;
    cursor: pointer;
    margin: 5px;
}
</style>
